###############################################################
# Copyright (c) 2021, 2023 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License, Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0.
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
# SPDX-License-Identifier: Apache-2.0
###############################################################

name: Release Candidate (RC)

on:
  push:
    branches:
      - 'release/v*.*.*-RC*'
    paths:
      - 'src/**'
      - 'tests/**'
  workflow_dispatch:

jobs:
  release-images:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        include:
          - image: tractusx/portal-administration-service
            dockerfile: ./docker/Dockerfile-administration-service
            dockernotice: ./docker/notice-administration-service.md
          - image: tractusx/portal-registration-service
            dockerfile: ./docker/Dockerfile-registration-service
            dockernotice: ./docker/notice-registration-service.md
          - image: tractusx/portal-marketplace-app-service
            dockerfile: ./docker/Dockerfile-marketplace-app-service
            dockernotice: ./docker/notice-marketplace-app-service.md
          - image: tractusx/portal-services-service
            dockerfile: ./docker/Dockerfile-services-service
            dockernotice: ./docker/notice-services-service.md
          - image: tractusx/portal-notification-service
            dockerfile: ./docker/Dockerfile-notification-service
            dockernotice: ./docker/notice-notification-service.md
          - image: tractusx/portal-processes-worker
            dockerfile: ./docker/Dockerfile-processes-worker
            dockernotice: ./docker/notice-processes-worker.md
          - image: tractusx/portal-maintenance-service
            dockerfile: ./docker/Dockerfile-maintenance-service
            dockernotice: ./docker/notice-maintenance-service.md
          - image: tractusx/portal-portal-migrations
            dockerfile: ./docker/Dockerfile-portal-migrations
            dockernotice: ./docker/notice-portal-migrations.md
          - image: tractusx/portal-provisioning-migrations
            dockerfile: ./docker/Dockerfile-provisioning-migrations
            dockernotice: ./docker/notice-provisioning-migrations.md
          - image: tractusx/portal-iam-seeding
            dockerfile: ./docker/Dockerfile-iam-seeding
            dockernotice: ./docker/notice-iam-seeding.md
    steps:
      - name: Checkout
        uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2
        with:
          fetch-depth: 0

      - name: Login to DockerHub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@e92390c5fb421da1463c202d546fed0ec5c39f20 # v3.1.0
        with:
          username: ${{ secrets.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@2b51285047da1547ffb1b2203d8be4c0af6b1f20 # v3.2.0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@68827325e0b33c7199eb31dd4e31fbe9023e06e3 # v3.0.0

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@8e5442c4ef9f78752691e2d8f8d19755c6f78e81 # v5.5.1
        with:
          images: ${{ matrix.image }}
          tags: |
            type=raw,value=rc
            type=raw,value=${{ github.sha }}

      - name: Build and push Docker images
        uses: docker/build-push-action@2cdde995de11925a030ce8070c3d77a52ffcf1c0 # v5.3.0
        with:
          context: .
          file: ${{ matrix.dockerfile }}
          platforms: linux/amd64, linux/arm64
          pull: true
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      # https://github.com/peter-evans/dockerhub-description
      - name: Update Docker Hub description
        if: github.event_name != 'pull_request'
        uses: peter-evans/dockerhub-description@e98e4d1628a5f3be2be7c231e50981aee98723ae # v4.0.0
        with:
          username: ${{ secrets.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
          repository: ${{ matrix.image }}
          readme-filepath: ${{ matrix.dockernotice }}

  auth-and-dispatch:
    needs: release-images
    runs-on: ubuntu-latest

    steps:
      - name: Get token
        id: get_workflow_token
        uses: peter-murray/workflow-application-token-action@dc0413987a085fa17d19df9e47d4677cf81ffef3 # v3.0.0
        with:
          application_id: ${{ secrets.ORG_PORTAL_DISPATCH_APPID }}
          application_private_key: ${{ secrets.ORG_PORTAL_DISPATCH_KEY }}

      - name: Trigger workflow
        id: call_action
        env:
          TOKEN: ${{ steps.get_workflow_token.outputs.token }}
        run: |
          curl -v \
            --request POST \
            --url https://api.github.com/repos/eclipse-tractusx/portal/actions/workflows/portal-backend-release-image-update.yml/dispatches \
            --header "authorization: Bearer $TOKEN" \
            --header "Accept: application/vnd.github.v3+json" \
            --data '{"ref":"release-candidate", "inputs": { "new-image":"${{ github.sha }}" }}' \
            --fail
